<div class="product-container">
    <ul class="product-grid">
        <li *ngFor="let product of products" >
            <div class="div-product-name">
                <span class="product-name">{{product.title | uppercase}}</span>
            </div>
            <div class="div-product-image">
                <img [src]="product.image" alt="">
            </div>
            <div class="div-product-description">
                <p class="product-descripction">
                        <span class="">Color: {{product.description.color}}</span>
                        <br>
                        <span class="">Talla: {{product.description.talla}}</span>
                </p>
            </div>
            <div class="div-product-price">
                <span>{{product.price}}</span>
                <button  (click)="addCart()" class="btn btn-primary"> <i class="fa fa-shopping-cart"></i> </button>
            </div>
            
        </li>
    </ul>
</div>