
img{
    max-width: 100%;
}

li{
    display:block;
    border:1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    height:auto;
}



.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    position: inherit;
}

@media (max-width: 819px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 620px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 419px) {
    .product-grid {
      grid-template-columns: repeat(1, 1fr);
    }
}

.product-name{
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.div-product-name{
    height:20%
}

.div-product-image{
    height:50%;
    margin:0.3rem 0;
}

.div-product-description{
    height:10%;
}

.div-product-description p{
    font-family: Segoe UI;
} 

.div-product-price{
    display: inline-block;
    margin: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.btn{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    width:3rem;
    height: 2rem;
    background:orangered;
}

ul{
    padding-left:0;
}





