*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 3.5rem;
    padding: 0 1rem;
}

a.active {
    font-weight: bold;
}
