<div class="contact-container">
    <div class="div-1">
        <picture class="contact-picture"> 
            <img src="./../../../assets/images/Fondo1.jpg" alt="Imagen de fondo de contact as" class="image-bg"> 
         </picture>
    </div>

    <div class="div-2">
        <form appearance="fill" >
            <h2 class="">CONTACTANOS</h2>
            <div class="div-form">
                <label>Digita tu nombre   <i class="fas fa-user-alt"></i></label>
                <input type="texttr4f" class="form-control" placeholder="Pepito Perez"  required>
            </div>
            <div class="div-form">
                <label>Digita tu correo  <i class="fas fa-envelope"></i></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
            </div>
            <div class="div-form">
                <label>Digita tu telefono  <i class="fas fa-phone"></i></label> 
                <input type="phone" class="form-control" placeholder="555 55 55" required>
            </div>
            <div class="div-form">
                <label>¿Deseas que enviemos promociones por estos medios?</label>
                <div class="div-form-radio">
                    <input type="checkbox" class="opc-yes" value="" checked>
                </div>
            </div>
            <div class="div-button">
                <button type="button" class="btn btn-light">Enviar</button>
            </div>
  
        </form> 
    </div>

</div>
