.product-detail-container{
    display:flex;
    justify-content: center;
}

.image-product{
    height:70vh;
    padding:2rem;
}

.description-product{
    padding:2rem;
}

.description-product span{
    font-weight: bold;
}

.image-product img{
    height:100%;
}

.description-product button{
    display:inline-flex;
    justify-content: center;
    margin: 1rem;
}

@media (max-width: 560px) {
    .product-detail-container{
        display:block;
        justify-content: center;
    }
}