<div class="div-footer">
    <div class="div">
        <ul>
            <li class="">      
                <a href="#"><mat-icon><i class="fab fa-facebook-square"><span>facebook.com/storeapp</span></i></mat-icon></a>
            </li>
            <li class="">
                <a href="#"><mat-icon><i class="fab fa-instagram"><span>instagram.com/storeapp</span></i></mat-icon></a>
            </li>
            <li class="">
                <a href="" ><mat-icon><i class="fab fa-twitter"><span>twitter.com/storeapp</span></i></mat-icon></a>
            </li>            
        </ul>
    </div>
    <div class="div">
        <ul>
            <li class="">
                <a href="" ><mat-icon><i class="fas fa-map-marker-alt"><span>Cra 86 # 34 - 52</span></i></mat-icon></a>
            </li>
            <li class="">
                <a href="" ><mat-icon><i class="fas fa-phone-volume"><span>01 8000 5696</span></i></mat-icon></a>
            </li>
        </ul>
    </div>
    <div class="div">
        <ul>
            <li class="">
                <mat-icon><i class="far fa-copyright 2x"><span>wenn1897</span></i></mat-icon>
            </li>
        </ul>
    </div>
</div>
